* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: 'Noto Serif', serif;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#004e92), to(#000428));
  background: linear-gradient(to top, #004e92, #000428);
  padding-bottom: 10px;
  position: relative;
}

.header {
  width: 70%;
  min-height: 150px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-leftside {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: aqua;
  margin: 0px 30px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header-leftside img {
  position: relative;
  top: -50px;
  left: -30px;
  width: 200px;
  height: 200px;
}

.header-leftside #g {
  position: relative;
  left: -60px;
}

.header-leftside #temp {
  font-size: 85px;
}

.header-leftside .temp-deg {
  margin: 0px 1px;
}

.header-leftside .temp-other {
  color: #0f0f0f;
  margin: 0px 10px;
  font-size: 14px;
}

.header-leftside .temp-other p {
  padding-bottom: 5px;
}

.header-rightside {
  margin: 0px 20px;
  text-align: end;
}

.header-rightside #city {
  padding-bottom: 5px;
  font-size: 2rem;
}

.header-rightside #weat {
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 5px 0px;
  font-size: 1.1rem;
}

.middle {
  width: 85%;
  margin: 20px auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-element {
  -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00417f;
  border-radius: 18%;
  margin: 20px 0px;
  font-size: 16px;
  width: 210px;
  height: 240px;
}

.middle-element p {
  padding: 0px 0px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -20px;
}

.middle-element i {
  font-size: 30px;
}

.middle-element #date {
  position: relative;
  bottom: -20px;
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
}

.middle-element #img {
  display: inline;
  text-align: center;
}

.middle-element #img img {
  width: 120px;
  height: 120px;
}

.by {
  position: absolute;
  bottom: 8px;
  left: 35%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00417f;
  -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 6px 10px;
  border-radius: 5PX;
}

.by1 {
  padding: 0px 10px;
}

.by i:hover {
  color: #413737;
}

#tittle {
  text-align: center;
  font-size: 3rem;
  padding-top: 15px;
  font-family: 'Trade Winds', cursive;
}

#middle-tittle {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Trade Winds', cursive;
}

@media screen and (max-width: 1024px) {
  #tittle {
    padding-top: 50px 0px;
    font-size: 4rem;
  }
  #middle-tittle {
    font-size: 3rem;
    margin: 20px 0px;
  }
  .header {
    margin: 30px auto;
    padding-top: 50px;
    width: 80%;
    min-height: 200px;
  }
  .header-leftside {
    margin: 0px;
  }
  .header-leftside .temp-other {
    font-size: 18px;
  }
  .header-leftside .temp-other p {
    line-height: 25px;
    letter-spacing: 1px;
  }
  .header-leftside .temp-deg {
    font-size: 20px;
    margin-left: 5px;
  }
  .header-rightside {
    font-size: 20px;
  }
  .header-rightside #city {
    font-size: 3rem;
  }
  .middle {
    margin: 50px auto;
    font-size: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .middle i {
    font-size: 35px;
  }
  .middle-element {
    width: 240px;
    height: 280px;
    margin-bottom: 50px;
  }
  .middle-element #date {
    font-size: 2rem;
  }
  .middle-element p {
    margin-left: 10px;
    font-size: 20px;
  }
  .by {
    bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  * {
    font-family: 'Times New Roman', Times, serif;
  }
  #tittle {
    font-size: 1.8rem;
    margin: 0px;
  }
  #middle-tittle {
    font-size: 1.2rem;
    margin: 5px auto;
  }
  .header {
    margin-top: 0px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
  .header-leftside {
    margin-bottom: 50px;
  }
  .header-leftside img {
    top: -10px;
    left: -10px;
    width: 100px;
    height: 100px;
  }
  .header-leftside #g {
    left: -10px;
  }
  .header-leftside #temp {
    font-size: 2rem;
  }
  .header-leftside .temp-deg {
    font-size: 14px;
  }
  .header-leftside .temp-other {
    font-size: 16px;
    letter-spacing: 0px;
  }
  .header-rightside {
    text-align: center;
  }
  .header-rightside #city {
    font-size: 2.5rem;
    text-transform: capitalize;
  }
  .header-rightside #weat {
    text-transform: capitalize;
  }
  .middle {
    margin: 0px auto;
    height: auto;
    margin-bottom: 100px;
  }
  .middle-element {
    width: 260px;
    margin-bottom: 10px;
  }
  .by {
    width: 90%;
    margin: auto;
    left: 5%;
  }
}
/*# sourceMappingURL=style.css.map */