*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    // color: #0f0f0f;
    // color: white;
    color: white;
    // opacity: .8;
    // font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Serif', serif;
font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient( to top,#004e92, #000428);  
    padding-bottom: 10px; 
}
.header{
    // border: 2px skyblue dotted;
    // background-color: #00417f;
    // box-shadow: 4px 4px 4px  4px rgba($color: #000000, $alpha: .3);
    // border-radius: 20px;
    width: 70%;
    min-height: 180px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px ;
    justify-content: space-between;

    &-leftside{
        height: 150px;
        display: flex;
        color: aqua;
        margin: 0px 30px;
        align-content: center;
        img{
            position: relative;
            top: -50px;
            left: -30px;
            width: 200px;
            height: 200px;
        }
        #g{
            position: relative;
            left: -60px;
        }
        #temp{
            // align-self: center;
            font-size: 85px;
        }
        .temp-deg{
            margin: 0px 1px;
        }
        .temp-other{
            color: #0f0f0f;
            margin: 0px 10px ;
            font-size: 13px;
            p{
                padding-bottom: 5px ;
            }
        }
    }
    &-rightside{
        margin: 0px 20px;
        text-align: end;

        #city{
            padding-bottom: 5px;
            font-size: 2rem;
        }
        #weat{
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 5px 0px;
            font-size: 1.1rem;
        }
    }
}
.middle{
    width: 85%;
    margin: 0px auto;
    height: auto;
    display: flex;
    padding: 10px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    
    &-element{ 
        box-shadow: 4px 4px 4px  4px rgba($color: #000000, $alpha: .3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #00417f;
        border-radius: 18%;
        // line-height: 22px;
        margin: 20px 0px ;
        font-size: 16px;
        width: 210px;
        height: 240px;
        p{
            padding: 0px 0px 0px 20px;
            display: flex;
            margin-bottom: 5px;
            align-items: center;
            position: relative;
            top: -20px;
        }
        i{
            font-size: 30px;
        }
        #date{
            position: relative;
            bottom: -20px;
            display: inline-block;
            font-size: 1.5rem;
            text-align: center;
        }
        #img{
            display: inline;
            text-align: center;
            img{
                width: 120px;
                height: 120px;
            }
        }
    }
}
// div:nth-child(not)

.by {
    margin: 0px auto;
    display: flex;
    width: 20%;

    justify-content: center;
    background-color: #00417f;
    box-shadow: 4px 4px 4px  4px rgba($color: #000000,$alpha: .3);
    padding: 6px 10px;
    border-radius: 5PX;
}

.by1 {
    // width: 4%;
    padding: 0px 10px;
}
.by i:hover {
    color: rgb(65, 55, 55);
}